/*** CSS Tutorial: Color page ***/

/* page font */
body {
  font: 16px "Comic Sans MS", cursive;
  background: url("Blue-rule.png");
}

/*paragraph id*/
#first {
  font-style: italic;
}

#first:before{
    content: url("Yellow-pin.png");
}

#second:before{
    content: url("Yellow-pin.png");
}

/* before paragraphs */
p:before{
  
}
/*paragraphs*/
p {
  color: blue;
}

h3.numbered {
  counter-reset: headnum;
}

p.numbered:before {
  content: "(" counter(headnum, upper-latin) ") ";
  counter-increment: headnum;
}

p.numbered{
 color: black;
}

/* initial letters */
strong {
  /*background-color: #ddf;*/ 
  color: red;
  font: 200% serif;
}

.spinach {
  color: green;
  /*background-color: #ddf;*/
}

li {
  list-style: lower-roman;
}

ul, #key {
  border: 10px solid #ADD8E6;
  display: inline-block;
}

#fixed-pin  {
  position:fixed;
  top: 3px;
  right: 3px;
}

#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}

#demo-table tbody td {
  border:1px solid #7a7;
}

